<!--Same header for every pages 
They will appear on the side menu-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>This is the contact page</ion-card-title>
        <div>
          <br>Iris Albrecht 902170
          <br>Hakan Kucukel 1702362
          <br>Antonin Venuti 1902162
        </div>
      </ion-card-header>
    </ion-card>
 </ion-content>
