<!--
Iris Albrecht 902170
Hakan Kucukel 1702362
Antonin Venuti 1902162
-->
<ion-app>
  <ion-split-pane><!-- Use split view to create side menu-->
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Music App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="padding">
        <ion-list>
            <ion-menu-toggle *ngIf="displayNameOrEmail!==null">
                <ion-item class="ion-activatable">
                  <ion-icon slot="start" name="contact"></ion-icon>
                  <ion-label>{{displayNameOrEmail}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          <ion-menu-toggle *ngFor="let page of appPages">
            <ion-item [routerLink]="page.url" [routerDirection]="'root'">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{page.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="signOut()" class="ion-activatable">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>Sign out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main> </ion-router-outlet>
  </ion-split-pane>
</ion-app>